<%= form_tag(team_invitations_path, method: 'post') do |f| %>
  <%= hidden_field_tag :team, team.id.to_s  %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited the invation created.</h2>

      <ul>
        <% team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-grouped">
    <p class="control is-expanded">
    <%= text_field_tag :email, nil, class: 'input', placeholder: 'coworker@yourcompany.com' %>
    </p>
    <p class="control">
      <%= submit_tag "Invite", class: 'button is-primary' %>
    </p>
  </div>

<% end %>
