<p id="notice"><%= notice %></p>

<div class="columns">
  <div class="column is-3">
    <nav class="panel">
    <p class="panel-heading">Teams</p>
    <% @teams.each do |team| %>

      <a href="<%= team_path(team) %>" class="panel-block <%= team.id == @team.id ? 'is-active' : '' %>">
        <!--<span class="panel-icon"><i class="fa fa-book"></i></span>-->
        <%= team.name %>
      </a>

      <!--
      <tr>
        <td><%= team.name %></td>
        <td><%= team.user_id %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>-->
    <% end %>
    <div class="panel-block">
      <%= render 'form', team: @draft_team %>
    </div>
    </nav>
  </div>

  <div class="column">
    <h1 class="title">Team Members</h1>
  </div>
</div>
