<p id="notice"><%= notice %></p>

<div class="columns">
  <div class="column is-3">
    <nav class="panel">
    <p class="panel-heading">Teams</p>
    <% @teams.each do |team| %>

      <a href="<%= team_path(team) %>" class="panel-block <%= team.id.to_s %> <%=  @team.id.to_s %> <%= team.id.to_s == @team.id.to_s ? 'is-active' : '' %>">
        <!--<span class="panel-icon"><i class="fa fa-book"></i></span>-->
        <%= team.name %>
      </a>

    <% if team.id == @team.id %>
    <div class="panel-block">
      <ul class="menu-list">
        <li><a href="#member">Members</a></li>
        <li><a href="#invite">Invite</a></li>
        <li><a href="#setting">Setting</a></li>
      </ul>
    </div>
    <% end %>


      <!--
      <tr>
        <td><%= team.name %></td>
        <td><%= team.user_id %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>-->
    <% end %>

    <!--
    <div class="panel-block">
      <h2 class="subtitle is-6">Create a new team</h2>
      <div class="columns">
        <div class="column">
          <% render 'form', team: Team.new(user: @team.user) %>
        </div>
      </div>
    </div>
    -->
    </nav>
  </div>

  <div class="column">
    <h1 class="title" id="member">Currently View Team <strong><%= @team.name %></strong></h1>

    <div class="section">
      <h2 class="subtitle" id="invite">Membership</h1>
      <table class="table">
        <tbody>
          <tr><td><%= @team.user.email %></td><td>Owner</td></tr>
        <% TeamService.members(@team).each do |member| %>
          <tr>
            <td><%= member.user.email if member.persisted? %></td>
            <td><%= member.role.capitalize if member.persisted? %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <h2 class="subtitle" id="invite">Pending invitation</h1>
      <table class="table">
        <thead><td>Email</td><td>Invite at</td></thead>
        <tbody>
          <% @team.invites.pending.each do |invite| %>
            <tr><td><%= invite.email %></td><td><%= invite.created_at %></td></tr>
          <% end %>
        </tbody>
      </table>

      <h2 class="subtitle" id="invite">Invite team member</h1>
      <%= render 'invitation', team: @team %>

      <hr>
      <h2 class='subtitle' id='setting'>Rename team</h2>
      <%= render 'form', team: @team %>

      <hr>
      <div class="message is-danger">
        <div class="message-header">Danger zone</div>
        <div class="message-body">
          <p class="is-message">Destroy team removes everything related to the team(unlink membership, delte check)</p>
          <%= link_to 'Delete team', @team, class: 'button is-danger', method: :delete, data: { confirm: 'Are you sure? This will destroy everything in the team' } %>
        </div>
      </div>
    </div>
  </div>
</div>
