<!--<p id="notice"><%= notice %></p>-->

<div class="section has-text-centered">
  <%= link_to 'Add new alert receiver', new_receiver_path, class: 'button is-primary is-large' %>
</div>

<table class="table">
  <tbody>
    <% @receivers.each do |receiver| %>
      <tr>
        <td>
          <h4 class="title"> <%= receiver.provider %> </h4>
        </td>
        <td>
          <h4 class="subtitle" id="<%= receiver.id.to_s%>"><%= receiver.name %>&nbsp;
            <% if receiver.provider_class.allow_edit? %>
              <%= link_to receiver.handler, edit_receiver_path(receiver) %>
            <% else %>
              <strong><%= receiver.handler %></strong>
            <% end %>
          </h4>
              <% if receiver.require_verify? && !receiver.verified? %>
                <div>
                <%= render 'receivers/verification/challenger', receiver: receiver %>
                </div>
              <% end %>
        </td>
        <td>
            <%= link_to receiver, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <button class="button is-medium is-danger">Remove</button>
            <% end %>
      </td></tr>
    <% end %>
  </tbody>
</table>

<div class="section has-text-centered">
  <%= link_to 'Add new alert receiver', new_receiver_path, class: 'button is-primary is-large' %>
</div>
