<p id="notice"><%= notice %></p>

<h1>Receivers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Provider</th>
      <th>Handler</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @receivers.each do |receiver| %>
      <tr>
        <td><%= receiver.user %></td>
        <td><%= receiver.provider %></td>
        <td><%= receiver.handler %></td>
        <td><%= link_to 'Show', receiver %></td>
        <td><%= link_to 'Edit', edit_receiver_path(receiver) %></td>
        <td><%= link_to 'Destroy', receiver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <% if receiver.require_verify? && !receiver.verified? %>
            <%= form_for(receiver.last_verification, url: verify_verification_path(receiver.last_verification)) do |f| %>
              <p>Didn't got your verification request for this contact? Resend verification request</p>
            <% end %>

            <%= form_tag(verify_verification_path(receiver.last_verification), method: 'GET') do |f| %>
              <p>Enter verification code</p>
              <%= text_field_tag :code, nil %>
              <%= submit_tag 'Verify' %>
            <% end %>

          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receiver', new_receiver_path %>
