<p id="notice"><%= notice %></p>

<% if @receiver.require_verify? && !@receiver.verified? %>
  <%= render 'receivers/verification/challenger', receiver: @receiver %>
<% end %>

<h1 class="title"><%= @receiver.provider %></h1>
<h2 class="subtitle"><%= @receiver.handler %></h2>

<%= link_to 'Edit', edit_receiver_path(@receiver) %> |
<%= link_to 'Back', receivers_path %>
