<% if !assertion.persisted? %>
<h2 class="subtitle">Add a new alert condition</h2>
<% end %>

<%= form_for(assertion) do |f| %>
  <%= f.hidden_field :check_id  %>

  <% if assertion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assertion.errors.count, "error") %> prohibited this assertion from being saved:</h2>

      <ul>
        <% assertion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= elm_component('AssertEditor', flags: {
          assert: {subject: assertion.subject || "http.status", condition: assertion.condition || "", operand: assertion.operand || ""},
          subjects: elm_format_subject_enum_for_select(assertion),
          conditions: elm_format_condition_enum_for_select(assertion),
  }) %>
<% end %>
