<section class="section">
<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="title">Alert Condition</h1>
  <hr>
  <table class="table">
    <tbody>
      <% assertions.each do |assertion| %>
        <tr>
          <td><%= assertion.subject %></td>
          <td><%= assertion.condition %></td>
          <td><%= link_to 'Show', assertion, class: 'button' %></td>
          <td><%= link_to 'Configure', edit_assertion_path(assertion) %></td>
          <td><%= link_to 'Remove', assertion, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</section>
