<%= form_for(incident) do |f| %>
  <% if incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% incident.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :check_id %>
    <%= f.text_field :check_id %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :acknowledged_at %>
    <%= f.text_field :acknowledged_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
