<!--<p id="notice"><%= notice %></p>-->

<div class="field has-addons has-addons-centered">
  <p class="control">
    <a class="button is-primary" href="?">Open incidents</a>
  </p>
  <p class="control">
    <a class="button " href="?status=close">All incidents</a>
  </p>
</div>

<table class='table'>
  <tbody>
    <% @incidents.each do |incident| %>
      <% decorate(incident) do |incident| %>
        <tr>
          <td><span class="tag <%= incident.status == Incident::STATUS_OPEN ? 'is-warning' : 'is-success'  %>"><%= incident.status %></span></td>
          <td>
            Check: <%= link_to incident do %> <%= incident.check.name %> <% end %>
        </td>
        <td>
          <% if incident.assertion %>
            <% present(incident.assertion) do |assertion| %>
              <%= assertion.subject %> matches <%= assertion.condition %> <%= assertion.operand %><br>
            <% end %>
          <% else %>
            The alert condition for this incident was remove.
          <% end %>
        </td>
        <td>
          Occured at <strong><%= incident.created_at.to_formatted_s(:short) %></strong><br>
          <% if incident.close? %>
            in <strong><%= incident.duration %></strong><br>
          <% end %>
          <% if incident.acknowledged_by %>
            <%= incident.acknowledged_by %> acknowledged <%= incident.acknowledged_at %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Detail', incident, class: 'button is-primary' %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>

<section class="section">
  <%= paginate @incidents %>
</section>
