<p id="notice"><%= notice %></p>

<h1>Incidents</h1>

<table>
  <thead>
    <tr>
      <th>Check</th>
      <th>Status</th>
      <th>Acknowledged at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= incident.check %></td>
        <td><%= incident.status %></td>
        <td><%= incident.acknowledged_at %></td>
        <td><%= link_to 'Show', incident %></td>
        <td><%= link_to 'Edit', edit_incident_path(incident) %></td>
        <td><%= link_to 'Destroy', incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident', new_incident_path %>
