<p id="notice"><%= notice %></p>

<table class="table">
  <% decorate @incident do |incident| %>
    <tr>
      <td>
      <td>
        <span class="tag <%= incident.short_status == 'open' ? 'is-warning' : 'is-success'  %>"><%= incident.status %></span>
      </td>
      <td>
        <%= incident.check.uri %>
      </td>
      <% present(incident.assertion) do |assertion| %>
        <%= assertion.subject %> matches <%= assertion.condition %> <%= assertion.operand %><br>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', incidents_path %>
