<p id="notice"><%= notice %></p>

<% decorate @incident do |incident| %>
  <div class="section">
  <h1 class="title">Incident #<%= incident.id %></h1>
  <div class="hero is-primary incident-bar">
    <div class="hero-body">
      <div class="container">
        <nav class="columns">
        <div class="column has-text-centered">
          <p class="title is-4"><strong>Status</strong></p>
          <span class="tag incident-badge is-large <%= incident.status == Incident::STATUS_OPEN ? 'is-warning' : 'is-success'  %>"><%= incident.status %></span>
          <p class="subtitle">
          <% if incident.close? %>
            In <strong><%= incident.duration %></strong> since <%= incident.created_at.to_formatted_s(:short) %>
          <% else %>
            Since <%= incident.created_at.to_formatted_s(:short) %>
          <% end %>
          </p>
        </div>

        <%= link_to incident.check, class: 'column has-text-centered' do %>
          <p class="title is-4"><strong>Check</strong></p>
          <span class="tag incident-badge is-large"><%= incident.check.name %></span>
          <p class="subtitle"><%= incident.check.uri %></p>
        <% end %>

        <div class="column has-text-centered">
          <p class="title is-4"><strong>Error</strong></p>
          <span class="tag incident-badge is-large is-warning"><%= incident.check.type %></span>
          <p class="subtitle">
          <% incident.assertion and present(incident.assertion) do |assertion| %>
            <%= assertion.subject %> matches <%= assertion.condition %> <%= assertion.operand %><br>
          <% end %>
          </p>
        </div>

        <a class="column has-text-centered" href="https://github.com/jgthms/bulma">
          <p class="title is-4"><strong>Frequency</strong></p>
          <span class="tag incident-badge is-large">1</span>
          <p class="subtitle">How many times this happen</p>
        </a>
        </nav>
      </div>
    </div>
  </div>
</div>

  <div class="section">
    <h1 class="title">Error</h1>
    <p>
      <%= incident.error_message %>
    </p>

    <h1 class="title">Timeline</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Occur</th>
          <th>Notification</th>
          <th>Acknowledge</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= incident.created_at %>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <%= incident.updated_at if incident.close? %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>

