<div class="container">
  <div class="columns">
    <div class="column">
      <%= render "users/shareds/tabs" %>
      Current Credit: 100

      <h2 class="title">Buy credit or subscribe to a plan</h2>
      <p>We have two payment type: pre-paid or a subscription plan.
      With pre-paid, you purchase credit, an credit is used to run a check
      request. 100 credit can used to send a SMS and 1000 credit<br/>
      When you run out of credit, we pause your check and also notify
      you when you are low on credit so you can refill. We can also
      do auto-refill for you if you allow us to do so.<br/>
      </p>

      <p>
      We also have a subscription plan where you pay for a set mou
      </p>

      <a href="prepaid">Prepaid Credit</a>
      <%= form_tag charges_path, id: 'prepaid-payment-form' do %>
        <table class="table">
          <thead>
            <tr>
              <td>Package</td>
              <td>Estimate</td>
              <td>Price</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                129,600 checks<br>
                10 SMS. 10 mins phone call<br>
              </td>
              <td>Check 1 website every 20 seconds in a month</td>
              <td>
                <button class="button is-primary checkout" data-package=1 data-amount=200>Buy</button>
              </td>
            </tr>
            <tr>
              <td>
                259200 checks<br>
                20 SMS. 20 mins phone call<br>
              </td>
              <td>Check 2 website every 20 seconds in a month</td>
              <td>
                <button class="button is-primary checkout" data-package=2 data-amount=400>Buy</button>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>

      <hr>
      <a href="prepaid">Or subscribe to a plan</a>

      <a href="#plan">Plan</a>
      <%= form_tag charges_path, id: 'prepaid-payment-form' do %>
          <%- active_subscriptions.each do |plan| %>
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Plan</p>
      <p class="title"><%= plan.name %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Price</p>
      <p class="title"><%= plan.price %> USD/m</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Checks</p>
      <p class="title"><%= plan.opts[:check] %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">SMS</p>
      <p class="title"><%= plan.opts[:check] %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Minute</p>
      <p class="title"><%= plan.opts[:check] %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title"><button class="button is-primary checkout" data-package= data-amount=200>Select plan</button></p>
    </div>
  </div>
</nav>
          <% end -%>


        <table class="table">
          <tbody>
          <%- active_subscriptions.each do |plan| %>
            <tr>
              <td>
                129,600 checks<br>
                10 SMS. 10 mins phone call<br>
              </td>
              <td>Check 1 website every 20 seconds in a month</td>
              <td>
                <button class="button is-primary checkout" data-package= data-amount=200>Select plan</button>
              </td>
            </tr>
          <% end -%>
          </tbody>
        </table>
      <% end %>
      <hr>
      <h2 class="title">Invoices</h2>
      <div class="box">
      </div>
    </div>
  </div>
</div>

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
  var handler = StripeCheckout.configure({
  key: '<%= stripe_publish_key %>',
  email: '<%= current_user.email %>',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  token: function(token) {
    console.log(token)
    var form = $('#prepaid-payment-form')
    form.append($('<input type="hidden" name="stripeToken" />').val(token.id))
    form.submit()
    }
  })

  $('.checkout').on('click', function(e) {
    e.preventDefault()
    var amount = parseFloat($(this).data('amount'))

    handler.open({
      name: 'noty.im',
      description: 'Package',
      zipCode: true,
      amount: amount
    })
  })

  window.addEventListener('popstate', function() {
    handler.close()
  })
</script>
