<div class="container">
  <div class="columns">
    <div class="column">
      <%= render "users/shareds/tabs" %>
      Current Credit: 100

      <h2 class="title">Buy credit or subscribe to a plan</h2>
      <p>We have two payment type: pre-paid or a subscription plan.
      With pre-paid, you purchase credit, an credit is used to run a check
      request. 100 credit can used to send a SMS and 1000 credit<br/>
      When you run out of credit, we pause your check and also notify
      you when you are low on credit so you can refill. We can also
      do auto-refill for you if you allow us to do so.<br/>
      </p>

      <p>
      We also have a subscription plan where you pay for a set mou
      </p>

      <a href="prepaid">Prepaid Credit</a>
      <table class="table">
        <thead>
          <tr>
            <td>Package</td>
            <td>Estimate</td>
            <td>Price</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              129,600 checks<br>
              10 SMS. 10 mins phone call<br>
            </td>
            <td>Check 1 website every 20 seconds in a month</td>
            <td>
              <button class="button is-primary checkout" data-package=1>Buy</button>

              <%= form_tag charges_path do %>
                <script src="https://checkout.stripe.com/checkout.js"
                  class="stripe-button"
                  data-key="<%= stripe_publish_key %>"
                  data-name="noty"
                  data-description="Purchase 129,600 checks pack"
                  data-amount="$3"
                  data-label="Buy $3"
                  data-panel-label="Pay {{amount}}"
                  data-email="<%= current_user.email %>"
                  data-locale="auto"></script>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              259200 checks<br>
              20 SMS. 20 mins phone call<br>
            </td>
            <td>Check 2 website every 20 seconds in a month</td>
            <td>
              <%= form_tag charges_path do %>
                <script src="https://checkout.stripe.com/checkout.js"
                  data-key="<%= stripe_publish_key %>"
                  class="stripe-button"
                  data-description="A month's subscription"
                  data-amount="$5"
                  data-name="Buy"
                  data-email="g@g.com"
                  data-locale="auto"></script>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <a href="prepaid">Or subscribe to a plan</a>

      <hr>
      <h2 class="title">Invoices</h2>
      <div class="box">
      </div>
    </div>
  </div>
</div>


<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
  var handler = StripeCheckout.configure({
  key: '<%= stripe_publish_key %>',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  token: function(token) {
  // You can access the token ID with `token.id`.
  // Get the token ID to your server-side code for use.
  }
  });

  document.getElementById('customButton').addEventListener('click', function(e) {
  // Open Checkout with further options:
  handler.open({
  name: 'Stripe.com',
  description: '2 widgets',
  zipCode: true,
  amount: 2000
  });
  e.preventDefault();
  });

  // Close Checkout on page navigation:
  window.addEventListener('popstate', function() {
  handler.close();
  });
</script>
