<p id="notice"><%= notice %></p>

<p>
  <strong>Assertion:</strong>
  <%= @notification.assertion %>
</p>

<p>
  <strong>Check:</strong>
  <%= @notification.check %>
</p>

<p>
  <strong>Content:</strong>
  <%= @notification.content %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
