<section class='hero is-fullheight is-bold'>
<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-4 is-offset-4">

        <h1 class="title">Change your password</h1>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <%= f.label :password, "New password", class: 'label' %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <div class="control">
              <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
            </div>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, "Confirm new password" %><br />
            <div class="control">
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Change my password", class: 'button is-primary' %>
          </div>
        <% end %>

        <hr>
        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>
</section>
