<section class="hero is-medium has-text-centered">
<div class="hero-body intro">
  <div class="container">
    <h1 class="title is-1">Application, Uptime, Log, System Event Monitoring </h1>
    <h2 class="subtitle is-2">
      Be <strong>the first</strong> to know about <strong>the outage</strong>
    </h2>

    <h3 class="subtitle is-3">It's free to try. Signup instantly now with</h3>
    <p class="hero-buttons">
    <%= link_to user_github_omniauth_authorize_path, class: 'button is-primary is-large' do %>
      <span class="icon"><i class="fa fa-github"></i></span><span>Github</span>
    <% end %>
    <a class="button is-primary is-large" href="<%= url_for(new_user_session_path) %>">
      <span class="icon"><i class="fa fa-envelope"></i></span><span>Email</span>
    </a>
    <%= link_to user_twitter_omniauth_authorize_path, class: 'button is-primary is-large' do %>
      <span class="icon"><i class="fa fa-twitter"></i></span><span>Twitter</span>
    <% end %>
    </p>
  </div>
</div>
</section>

<section class="section has-text-centered">
<div class="container feature">
  <h1 class="title is-1" id="features">Features</h1>
  <h2 class="subtitle">
    Simple, Flexible, <strong>Reliable</strong>
  </h2>

  <div class="columns feature__row">
    <div class="column">
      <div class="">
        <h1 class="title is-3"><i class="ion-heart is-hidden-mobile"></i> Flexible check</h1>
        <div class="content">
          <p>Define check on <strong>multiple conditions</strong>, based on response time, response content, header</p>
          <p>Not just HTTP check, we can run any TCP check</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="">
        <h1 class="title is-3"><i class="ion-wand is-hidden-mobile"></i> Fast check</h1>
        <div class="content">
          <p>We try to run check every 5-10 seconds, or even continously if possible.</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="">
        <h1 class="title is-3"><i class="ion-earth is-hidden-mobile"></i> Granular alert routing</h1>
        <div class="content">
          <p>Very granular on define alert target for checks.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="columns  feature__row">
    <div class="column">
      <div class="">
        <h1 class="title is-3"><i class="ion-settings is-hidden-mobile"></i> Data retention</h1>
        <div class="content">
          <p>Your data is stored up to 3 months for free accounts and up to several years in paid plan. If you need more than that, just contact us directly.</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="">
        <h1 class="title is-3"><i class="ion-stats-bars is-hidden-mobile"></i> Multiple integrations</h1>
        <div class="content">
          <p>We support many service integration: slack, hipchat, telegram, twilio(sms, phone call) and many more service</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="">
        <h1 class="title is-3"><i class="ion-key is-hidden-mobile"></i> Webhook</h1>
        <div class="content">
          <p>Need custom intergration with your own service? Use webhook to trigger actions when alert occurs.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="columns feature__row">
    <div class="column">
      <div class="">
        <h1 class="title is-3"><i class="ion-key is-hidden-mobile"></i> Distribute checks</h1>
        <div class="content">
          <p>We run check on multiple locations to avoid false positive.</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="">
        <h1 class='title is-3'>Simple</h1>
        <div class="content">One click sign in using your social account</div>
      </div>

    </div>
    <div class="column">
      <div class="">
        <h1 class="title is-3">Multi Team</h1>
        <div class="content">
          <p>Easily manage multiple team(work, persoanl) using a single account with multiple associated email</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class='section'>
<div class='container'>

  <section class='hero  has-text-centered'>
    <div class="hero-head">
      <h1 id="pricing" class="title is-1">Pricing</h1>
      <h2 class="subtitle is-4">Your first month will have unlimited features. After first month, we will ask you to select a plan.</h2>
      <h2 class="subtitle">Sign up now, no creditcard require</h2>
    </div>
  </section>

  <div class="columns has-text-centered">
    <div class="column">
      <div class="pricing">
        <h1 class="title is-2">Free</h1>
        <h1 class="subtitle is-3">$0</h1>
        <section class="section">
          <ul>
            <li>Uli to 50 checks</li>
            <li>Single region</li>
            <li>Unlimited alert</li>
            <li>No SMS or lihone call</li>
          </ul>
        </section>
        <a class="button is-primary is-large" href="<%= new_user_registration_path %>">
        SIGN UP NOW
        </a>
      </div>
    </div>

    <div class="column">
      <div class="pricing">
        <h1 class="title is-2">Premium</h1>
        <h1 class="subtitle is-3">$10</h1>
        <section class="section">
          <ul>
          <li>Uli to 500 checks.</li>
          <li>Multilile regions.</li>
          <li>Unlimited alert</li>
          <li>100 SMS or 100 lihone call.</li>
          </ul>
        </section>
        <a class="button is-primary is-large" href="<%= new_user_registration_path %>">
          SIGN UP NOW
        </a>
      </div>
    </div>

    <div class="column">
      <div class="pricing">
        <h1 class="title is-2">Awesome</h1>
        <h1 class="subtitle is-3">$20</h1>
        <section class="section">
          <ul>
            <li>Unlimited checks.</li>
            <li>Multilile regions.</li>
            <li>Unlimited alert</li>
            <li>No <a href="/faq#sms_limit">hard limit</a> on SMS or lihone call.</li>
          </ul>
        </section>
        <a class="button is-primary is-large" href="<%= new_user_registration_path %>">
          SIGN UP NOW
        </a>
      </div>
    </div>
  </div>

</div>
</section>

<hr class='is-marginless'>
<section class='hero is-medium has-text-centered'>
<div class="hero-body">
  <div class="container">
    <h2 class="title is-2">Open source</h2>
    <h3 class="subtitle is-3">The power of NotyIM behind your firewall</h3>

    <p>
    <a href="/">noty</a> is an open source software, free and always will be. You can get the source
    and self-hosted it.
    <br>We also give premium support to install, configure and monitor your self-hosted <a href="/">noty</a> inside
      your infrastructure
    </p>
    <div class='hero-buttons'>
      <a href="mailto:vinh@noty.im?subject=NotyIM Installation" class="button is-info is-large">
        Get in touch for premium support
      </a>
    </div>
  </div>
</div>
</section>
