<div data-controller="check tabs" >
  <% if check.persisted? %>
    <div class="tabs">
      <ul>
        <li data-target="tabs.tab" data-action="click->tabs#change" class="is-active"><a title="Request" href="#request">Request</a></li>
        <li data-target="tabs.tab" data-action="click->tabs#change" ><a title="Alert Condition" href="#alert">Alert Condition</a></li>
        <li data-target="tabs.tab" data-action="click->tabs#change" ><a title="Status Page" href="#statuspage">Status Page</a></li>
        <li data-target="tabs.tab" data-action="click->tabs#change" ><a title="Destroy" href="#destroy">Destroy</a></li>
      </ul>
    </div>
  <% end %>

  <% if check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(check.errors.count, "error") %> prohibited this check from being saved:</h2>

      <ul>
        <% check.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "request_editor", check: check %>

<% if check.persisted? %>
  <div class="tab is-hidden" data-target="tabs.panel">
    <%= render 'assertions/index', assertions: check.assertions %>
    <section class="section" id="add-asertion">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="box">
              <%= render 'assertions/form', assertion: Assertion.new(check: check) %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%= render 'receiver', check: @check %>
  </div>

  <div class="tab is-hidden" data-target="tabs.panel">
    <%= render 'public_page', check: @check %>
  </div>

  <div class="hero is-warning" data-target="tabs.panel">
    <div class="hero-body">
      <div class="container">
        <div class='columns is-vcentered'>
          <div class='column is-two-third is-left'>
            <p class="title">Permanently Destroy</p>
            <p>Destroy check will remove all of its historical data!</p>
          </div>
          <div class='column'>
            <%= link_to 'Destroy!', @check, method: :delete, data: { confirm: 'Are you sure to delete check? You cannot restore its data' }, class: 'button is-large' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

</div>
