<%= form_for(check) do |f| %>
  <% if check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(check.errors.count, "error") %> prohibited this check from being saved:</h2>

      <ul>
      <% check.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="control">
    <%= f.label :name, class: 'label' %>
    <%= f.text_field :name, class: 'input' %>
  </p>

  <p class="control">
    <%= f.label :uri, class: 'label'%>
    <%= f.text_field :uri, class: 'input' %>
  </p>

  <p class="control">
    <%= f.label :type, class: 'label' %>
    <span class='select'>
      <%= f.select :type, format_type_enum_for_select(check) %>
    </span>
  </p>

  <p class="actions">
    <%= f.submit 'Save', class: 'button is-primary' %>
  </p>
<% end %>

<% if check.persisted? %>
  <%= render 'assertions/index', assertions: check.assertions %>

  <%= render 'assertions/form', assertion: Assertion.new(check: check) %>
<% end %>
