<div class="section">
  <h1 class="title">Enable public status page</h2>
  <p>A read-only of your service metric for public viewing</p>
  <hr>

  <%= form_tag(status_pages_path, class: 'form') do |f| %>
    <%= hidden_field(:check, :id) %>
    <p>
    <strong>Standard url</strong>: status-<%= check.id.to_s %>.noty.im
    </p>
    <p>
    Once enable public viewing, beside using our standard url, you can configure your own domain as
    well by creating a CNAME record to <strong>st.noty.im</strong>
    </p>

    <div class="field has-addons">
      <p class="control">
        <%= label_tag :name, 'Custom domain', class: 'label' %>
        <%= text_field_tag 'check[status_page_domain]', check.status_page_domain || "", class: 'input', placeholder: 'status.yourdomain.com' %>
      </p>
      <p class="control">
        <%= submit_tag 'Enable', class: 'button is-primary' %>
      </p>
    </div>
  <% end %>
</div>
