<div class="section">
  <div class="columns">
    <div class="column">
      <h1 class="title">Select Alert channels for this check</h2>
      <p>We will send alert to below channel when above condition are meet</p>
      <hr>
    </div>
    <div class="column">
      <%= form_tag(register_incident_receivers_path(check_id: check.id.to_s)) do |f| %>
        <div class="field">
          <%- if @current.user.verified_receivers.blank? %>
            You haven't add any alert contact. Go to <%= link_to 'alert contact', new_receiver_path %> to add a new one. You can also
            connect with your chat channel from there
          <% end  -%>

          <%- if @current.user.verified_receivers.present? %>
            <% @current.user.verified_receivers.each do |receiver| %>
              <p class="control">
                <%= label_tag receiver.id.to_s, class: 'radio' do %>
                  <%= check_box_tag 'contact_receivers[]', receiver.id.to_s, check.register_receiver?(receiver), id: receiver.id.to_s  %>
                  <span><strong><%= receiver.provider %></strong>&nbsp;<%= receiver.name || receiver.handler %></span>
                <% end %>
              </p>
            <% end %>

            <p class="control">
              <%= submit_tag 'Save', class: 'button is-primary' %>
              </p>
            <% end -%>
        </div>
      <% end %>
    </div>
  </div>
</div>
