<h1 class="title">Configure Check <strong><%= @check.name %></strong><code class="is-small">(#<%= @check.id %>)</code></h1>
 
<%= render 'form', check: @check %>

<%= render 'receiver', check: @check %>

<hr>
<%= link_to 'View check stat', @check, class: 'button' %>
<%= link_to 'Go Back', checks_path, class: 'button' %>
