<!--<p id="notice"><%= notice %></p> -->

<div class="section has-text-centered">
  <%= link_to 'Create New Check', new_check_path, class: 'button is-primary is-large' %>
</div>

<div class="check-list">
  <% if @checks.empty? %>
    <h1 class="title has-text-centered">Let's get start by adding your first check</h1>
  <% end %>

  <% @checks.each do |c| %>
    <% decorate(c) do |check| %>
      <div class="container">
        <div class="card check">
          <nav class="level check-item">
          <div class="level-left">
            <div class="level-item check-item__title">
              <div>
                <p class="heading"><span class="tag is-<%= check.up? ? 'success' : 'danger' %> is-medium">HTTP <%= check.current_status %></span></p>
                <p class="title" id="check-title-<%= check.element_id %>">
                  <%= link_to (check.name || check.uri), check, class: 'subtitle' %>
                </p>
              </div>
            </div>
          </div>

          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Uptime(1M)</p>
              <p class="title"><%= check.uptime_1month.round(2) %>%</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Mean</p>
              <p class="title"><%= check.mean_time %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Last 24hour(ms)</p>
              <div id="chart<%= check.id.to_s %>" style="width: 300px; height: 100px">
              </div>
            </div>

            <script>
              new Chartist.Line("#chart<%= check.id.to_s %>", <%= check.last_day_chart_data %>, {
                // Don't draw the line chart points
                showPoint: false,
                lineSmooth: true,
                // X-Axis specific configuration
                axisX: {
                  // We can disable the grid for this axis
                  showGrid: false,
                  // and also don't show the label
                  showLabel: false
                },
                // Y-Axis specific configuration
                axisY: {
                  showGrid: false,
                  // Lets offset the chart a bit from the labels
                  offset: 60,
                  // The label interpolation function enables you to modify the values
                  // used for the labels on each axis. Here we are converting the
                  // values into million pound.
                  labelInterpolationFnc: function(value) {
                    return value + 'ms';
                  }
                }
              });
            </script>
          </div>

          <div class="level-right">
            <div class="level-item  has-text-centered">
              <ul class="menu-list">
                <li>
                  <div class="field">
                    <div class="control"><%= link_to 'Detail', check_path(check), class: 'button is-primary' %></div>
                  </div>
                </li>
                <li>
                  <div class="field">
                  <div class="control"><%= link_to 'Config', edit_check_path(check), class: 'button' %></div>
                  </div>
                  </li>
              </ul>
            </div>
          </div>
          </nav>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if @checks.present? %>
  <div class="section has-text-centered">
    <%= link_to 'Create New Check', new_check_path, class: 'button is-primary is-large' %>
  </div>
<% end %>
