<p id="notice"><%= notice %></p>

<div class="section has-text-centered">
  <%= link_to 'Create New Check', new_check_path, class: 'button is-primary is-large' %>
</div>

<div class="check-list">
  <% @checks.each do |c| %>
    <% decorate(c) do |check| %>
      <div class='columns'>
        <div class="card is-fullwidth check-item">
          <div class="column check-item">
            <nav class="level is-mobile">
            <div class="level-left check">
              <div class="level-item">
                <span class="tag is-primary is-medium"><%= check.current_status %></span>
              </div>
              <div class="level-item check-item__title">
                <%= link_to check.uri, check, class: 'subtitle' %>
              </div>
            </div>

            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Uptime</p>
                <p class="title"><%= check.uptime_stat %></p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Mean</p>
                <p class="title"><%= check.mean_time %></p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Last 24hour(ms)</p>
                <div style="width: 300px; height: 100px">
                  <canvas id="chart<%= check.id.to_s %>" width="300px" height="100px"></canvas>
                </div>
              </div>

              <script>
                var ctx = document.getElementById("chart<%= check.id.to_s %>")
                var myChart = new Chart(ctx, {
                  type: 'line',
                  data: <%= check.simple_line_chart_data %>,
                  options: {
                    legend: {
                      labels: {
                        fontSize: 10,
                        fontFamily: '"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif'
                      }
                    },
                    scales: {
                      yAxes: [{
                        ticks: {
                          beginAtZero:true
                        }
                      }]
                    }
                  }
                });
              </script>
            </div>

            <div class="level-right">
              <div class="level-item">
                <%= link_to 'Edit', edit_check_path(check), class: 'button is-primary' %>
                <%= link_to 'Destroy', check, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
              </div>
            </div>
            </nav>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="section has-text-centered">
  <%= link_to 'Create New Check', new_check_path, class: 'button is-primary is-large' %>
</div>
