<p id="notice"><%= notice %></p>

<div class="section has-text-centered">
  <%= link_to 'Create New Check', new_check_path, class: 'button is-primary is-large' %>
</div>

<div class="check-list">
  <% @checks.each do |check| %>
    <div class="card is-fullwidth check-item">
      <header class="card-header">
        <%= content_tag :p, check.name, class: "card-header-title" %>
      </header>

      <div class="card-content">
        <%= content_tag :h4, check.uri, class: "subtitle is-6" %>
        <div class="content">
          <%= react_component 'app.Check', check: check.to_json %>
        </div>
      </div>

      <footer class="card-footer">
        <%= link_to 'Detail', check, class: 'card-footer-item' %>
        <%= link_to 'Edit', edit_check_path(check), class: 'card-footer-item' %>
        <%= link_to 'Destroy', check, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-footer-item' %>
      </footer>
    </div>
  <% end %>
</div>

<div class="section has-text-centered">
  <%= link_to 'Create New Check', new_check_path, class: 'button is-primary is-large' %>
</div>
