<p id="notice"><%= notice %></p>

<% unless @public_view %>
<% if @check.assertions.empty? %>
  <article class="message is-warning">
  <div class="message-body">
  You haven't configure your alert condition yet. Please <%= link_to("configure your alert condition", edit_check_path(@check), anchor: 'add-asertion') %> so we will know
    when to alert you.
  </div>
  </article>
<% end %>
<% end %>

<% if !@public_view && @check.receivers.try(:blank?) %>
  <article class="message is-warning">
  <div class="message-body">
  You haven't configure any alert receiver yet. Please <%= link_to("configure your alert contact", edit_check_path(@check), anchor: 'add-asertion') %> so we will know who to notify when your site is down.
  </div>
  </article>
<% end %>

<% decorate(@check) do |check| %>
  <div class="card is-fullwidth">
    <div class="column check-item">
      <nav class="level is-mobile">
      <div class="level-left check">
        <div class="level-item">
          <span class="tag is-<%= check.up? ? 'success' : 'danger' %> is-medium"><%= check.current_status %></span>
        </div>
        <div class="level-item check-item__title">
          <%= link_to check.uri, check, class: 'subtitle' %>
        </div>
      </div>

      <div class="level-item has-text-centered">
        <div>
          <p class="heading">30 days Uptime</p>
          <p class="title"><%= check.uptime_1month.round(2) %>%</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Mean</p>
          <p class="title"><%= check.mean_time %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Last check</p>
          <p class="title">30 seconds ago</p>
        </div>
        </div>

        <% unless @public_view %>
        <div class="level-right">
          <div class="level-item">
            <div class="block">
              <%= link_to 'Configure', edit_check_path(check), class: 'button is-primary' %>
            </div>
          </div>
        </div>
        <% end %>

      </nav>
    </div>
  </div>

  <section class="section">
  <div class="container">
    <h1 class="title">Last hour</h1>
    <div class="container has-text-centered">
      <h2 class="subtitle"><%= check.uptime_1hour %>% Uptime</h2>
      <progress class="progress is-success is-small" value="<%= check.uptime_1hour %>" max="100">99.88% uptime</progress>
    </div>
    <hr>

    <div id="chart<%= check.id.to_s %>"></div>
    <script>
      new Chartist.Line("#chart<%= check.id.to_s %>", <%= check.last_hour_chart_data %>, {
      showPoint: false,
      lineSmooth: true,
      axisX: {
        showGrid: true,
        showLabel: true
      },
      axisY: {
        offset: 60,
        labelInterpolationFnc: function(value) {
        return value + 'ms';
        }
      }
      })
    </script>
  </div>
  </section>

  <section class="section">
  <div class="container">
    <h1 class="title">Last 24 hour</h1>
    <div class="container has-text-centered">
      <h2 class="subtitle"><%= check.uptime_1day %>% Uptime</h2>
      <progress class="progress is-success is-small" value="<%= check.uptime_1day %>" max="100">99.88% uptime</progress>
    </div>
    <hr>
    <div id="chart24<%= check.id.to_s %>"></div>
    <script>
      new Chartist.Line("#chart24<%= check.id.to_s %>", <%= check.last_day_chart_data %>, {
      showPoint: false,
      lineSmooth: true,
      axisX: {
      showGrid: true,
      },
      axisY: {
      offset: 60,
      labelInterpolationFnc: function(value) {
      return value + 'ms';
      }
      }
      });
    </script>
  </div>

  <div class="container">
    <div class="container has-text-centered">
      <h2 class="subtitle">Distributed Latency</h2>
    </div>
    <hr>
    <div id="chart-distributed<%= check.id.to_s %>"></div>
    <script>
      new Chartist.Bar("#chart-distributed<%= check.id.to_s %>", <%= check.last_day_distributed_chart_data %>, {
        distributeSeries: true
      })
    </script>
  </div>
  </section>

  <section class="section">
  <div class="container">
    <h1 class="title">Uptime</h1>
    <h2 class="subtitle">Statistic per day in last 12 month</h1>
    <hr>

    <div class="container day-uptime">
      <div class="columns is-gapless is-marginless is-paddingless">
        <div class="column is-1">
        </div>
        <div class="column is-11">
          <div class="columns is-gapless is-marginless is-paddingless">
            <% 12.times do |m| %>
              <div class="column"><%= (12-m-1).month.ago.strftime("%b")%></div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="columns is-gapless is-marginless is-paddingless">
        <div class="column is-1">
          <div class="tile is-vertical">
            <div class="has-text-right tile is-calendar">&nbsp;</div>
            <div class="has-text-right tile is-calendar">Mon </div>
            <div class="has-text-right tile is-calendar"> &nbsp;</div>
            <div class="has-text-right tile is-calendar">Web </div>
            <div class="has-text-right tile is-calendar"> &nbsp;</div>
            <div class="has-text-right tile is-calendar">Fri </div>
            <div class="has-text-right tile is-calendar"> &nbsp;</div>
          </div>
        </div>
        <div class="column is-11">
          <% 7.times do |day| %>
            <div class="tile is-gapless is-marginless is-paddingless">
              <div class="tile">
                <% 52.times do |week| %>
                  <span data-balloon="<%= check.last_year_uptime[week][day].desc %>" data-balloon-pos="up" class="tile day-uptime-item is-<%= check.last_year_uptime[week][day].stat %> %>">&nbsp;</span>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
  </section>
<% end %>
