<!DOCTYPE html>
<html>
  <head>
    <title>NotyIM - Modern Uptime, Cron, Server Monitoring and Immediately Notification</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application'  %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'partials/meta' %>
  </head>

  <body class="layout-default">
    <%= render 'partials/header' %>
    <%= render 'partials/flash' %>

    <%= yield %>

    <%= render 'partials/footer' %>
    <%= render 'partials/tracking' %>
  </body>
</html>
