<!DOCTYPE html>
<html>
  <head>
    <title>NotyIM - Uptime monitoring</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'  %>
    <%= javascript_pack_tag 'application'  %>
    <%= javascript_pack_tag 'team_picker' %>
    <%= render 'partials/meta' %>
  </head>

  <body class="layout-default">
    <%= render 'partials/dashboard/header' %>
    <%= render 'partials/flash' %>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>

    <%= yield :bottom_js %>
    <%= render 'partials/footer' %>
    <%= render 'partials/tracking' %>
  </body>
</html>
