<!DOCTYPE html>
<html>
  <head>
    <title><%= @check.name || @check.uri %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'  %>
    <%= render 'partials/meta' %>
  </head>

  <body class="layout-default">
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
